<nav>
  <div class="logo">
    <a href="/homepage">logo</a>
  </div>
  <div class="navbar-items">
    <ul>
      <li><a class="navbar-link" href="/homepage">Home</a></li>
      <li><a class="navbar-link" href="/readinglist">Reading List</a></li>
      <li><a class="navbar-link" href="/user/4">User</a></li>
      <li><a class="navbar-link sign-out-btn" onclick="signOut()" href="/">Sign Out</a></li>
    </ul>
  </div>
</nav>
<script>

  function signOut() {
    console.log('log out')
    localStorage.removeItem("user");
  }
  const user = localStorage.getItem("user");

  if (user) {
    const userData = JSON.parse(user); // Convert string to object

    if (userData.id) {
      // Select the user link and update the href
      const userLink = document.querySelector(".navbar-link[href='/user']");
      if (userLink) {
        userLink.href = `/user/${userData.id}`; // Set dynamic URL user page
      }
      const readingListLink = document.querySelector(
        ".navbar-link[href='/readinglist']",
      );
      if (readingListLink) {
        readingListLink.href = `/readinglist/${userData.id}`; // Set dynamic URL for reading list
      }
    }
  }
</script>
