<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Framerate</title>
</head>
<body>
    <div>
        <h1>test</h1>
        <!-- Script for login user page. ticket #55-->
        <h2>Logon</h2>
        <form id="logonForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <button type="submit">Logon</button>
        </form>
        <div id="message"></div>
    </div>
    <script src="script.js"></script>
    <!-- -->

</body>
</html>

