<!DOCTYPE html>
<html>
<head>
    <title>Logon Page</title>
    <!-- (CSS) <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>
<body>
    <!-- (CSS) <div class="login-container"> -->

        <h2>Logon</h2>
        <form id="logonForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <button type="submit">Logon</button>
        </form>
        <div id="message"></div>
    </div>
    <script src="/public/css/Js/script.js"></script>
</body>
</html>

