.list-of-books {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-of-books li {
    display: inline-block;
    width: 230px;
    min-height: 390px;
    box-shadow: 0 0 20px #aaa;
    margin: 25px;
    padding: 10px 10px 0 10px;
    vertical-align: top;
    transition: height 1s;
}

.list-of-books img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.list-of-books h2 {
    font-size: 1.5em;
    margin: 10px 0;
    text-align: center;
}

.list-of-books p {
    font-size: 1em;
    text-align: center;
}