a {
  text-decoration: none;
  color: inherit; /* Or a specific color */
}

a:visited {
  color: inherit; /* Or a specific color */
  text-decoration: none; /* Or keep the underline if you want */
}

.select-genre-container {
  padding: 20px;

  label {
    font-size: 20px;
    font-weight: bold;
  }
}

.books-container {
  padding-top: 40px;
  margin: 0 auto;
  max-width: 80%;
  margin-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.book-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  border: 8px solid rgb(141, 93, 239);
  background-color: rgba(255, 216, 195, 0.144);
}

.book-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.add-to-reading-list-btn {
  background-color: #00bcd4;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: "poppins", sans-serif;
  margin-bottom: 20px;
}

.add-to-reading-list-btn:hover {
  background-color: rgb(141, 93, 239);
  color: white;
}

h1 {
  color: rgb(141, 93, 239);
  text-align: center;
  font-size: 50px;
}

.book-title {
  color: rgb(141, 93, 239);
  font-weight: bolder;
  font-size: 20px;
}

.book-author {
  text-decoration: dashed;
}
